[features]
seeds = false
skip-lint = false

[programs.localnet]
solana_anchor_cpi = "7LXZ8onmdiK629ZfPnDKXMSL7tbEnuLzsvpzokCNonq4"
puppet_program = "CEReZ1uhTPWpaY3YbScWvKeLm8XcM6jM42dkv8F9Dypk"
master_program = "vGymT9KU2hQMZvYxMapvDeqhhyD25VVZ6JKdZjx6925"
custom_spl_token = "cPshoEnza1TMdWGRkQyiQQqu34iMDTc7i3XT8uVVfjp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/Users/gaylonalfano/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
